# API Gateway
PORT=3000
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION=24h
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8100

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Auth Manager
AUTH_PORT=3001
AUTH_DB_HOST=localhost
AUTH_DB_PORT=3306
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=password
AUTH_DB_DATABASE=auth_manager

# LDAP Configuration (optionnel)
LDAP_URL=ldap://your-ldap-server:389
LDAP_BASE_DN=dc=example,dc=com
LDAP_BIND_DN=cn=admin,dc=example,dc=com
LDAP_BIND_PASSWORD=admin_password

# ManageEmployees Service
EMPLOYEES_PORT=3002
EMPLOYEES_DB_HOST=localhost
EMPLOYEES_DB_PORT=3306
EMPLOYEES_DB_USERNAME=root
EMPLOYEES_DB_PASSWORD=password
EMPLOYEES_DB_DATABASE=manage_employees
EMPLOYEES_DB_SYNCHRONIZE=false
EMPLOYEES_DB_LOGGING=true

# CORS
EMPLOYEES_CORS_ORIGIN=http://localhost:8100


# GRPC
# URLs gRPC des microservices
AUTH_GRPC_URL=localhost:50051
EMPLOYEES_GRPC_URL=localhost:50052
# EVENTS_GRPC_URL=localhost:50053
# CATALOG_GRPC_URL=localhost:50054

AUTH_GRPC_PORT=50051
EMPLOYEES_GRPC_PORT=50052


# Environment
NODE_ENV=development