# API Gateway
API_GATEWAY_PORT=3000
API_GATEWAY_HOST=localhost

#JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION=24h

#CORS
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8100

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Auth Manager
AUTH_MANAGER_PORT=3001
AUTH_MANAGER_HOST=localhost

# DB
AUTH_MANAGER_DB_HOST=localhost
AUTH_MANAGER_DB_PORT=3306
AUTH_MANAGER_DB_USERNAME=root
AUTH_MANAGER_DB_PASSWORD=password
AUTH_MANAGER_DB_DATABASE=auth_manager

# LDAP Configuration (optionnel)
LDAP_URL=ldap://your-ldap-server:389
LDAP_BASE_DN=dc=example,dc=com
LDAP_BIND_DN=cn=admin,dc=example,dc=com
LDAP_BIND_PASSWORD=admin_password

# ManageEmployees Service
MANAGE_EMPLOYEES_PORT=3002
MANAGE_EMPLOYEES_HOST=localhost

# Uploads
MANAGE_EMPLOYEES_UPLOAD_FOLDER=./uploads
MANAGE_EMPLOYEES_UPLOAD_LIMIT=10MB

# DB
MANAGE_EMPLOYEES_DB_HOST=localhost
MANAGE_EMPLOYEES_DB_PORT=3306
MANAGE_EMPLOYEES_DB_USERNAME=root
MANAGE_EMPLOYEES_DB_PASSWORD=password
MANAGE_EMPLOYEES_DB_DATABASE=manage_employees

# CORS
MANAGE_EMPLOYEES_CORS_ORIGIN=http://localhost:8100


# GRPC
# URLs gRPC des microservices
AUTH_MANAGER_GRPC_URL=localhost:50051
MANAGE_EMPLOYEES_GRPC_URL=localhost:50052

AUTH_MANAGER_GRPC_PORT=50051
MANAGE_EMPLOYEES_GRPC_PORT=50052


# Environment
NODE_ENV=development